<style>
    nav {
        background-color: rgb(179, 112, 241);
        padding: 15px;
        color: cornsilk;
        font: bold;
    }
    nav>a {
      padding: 15px;
    }
</style>
<nav>
    <a href="/restaurants/">Return To All Restaurants</a>
    <a href="./menus/new">Create New Menu</a>
</nav>
  
<h2>Menus</h2>

  <div class="promo-blocks">
    {{#if menus.length }}
        {{#each menus }}
            {{> menuInstance this }}
        {{/each}}
    {{else}}
        <p>No Menus left :(</p>
    {{/if}}
  </div>
  