<style>
    nav {
        background-color: rgb(179, 112, 241);
        padding: 15px;
        color: cornsilk;
        font: bold;
    }
    nav>a {
      padding: 15px;
    }
</style>
<nav>
  <a href="/restaurants/new">Create New Restaurant</a>
</nav>
<div class="promo-blocks">
  {{#if restaurants.length }}
    {{#each restaurants }}
      {{> restaurantItem this }}
    {{/each}}
  {{else}}
    <p>No restaurants left :(</p>
  {{/if}}
</div>
